html, body {
    background-color: #222;
    width: 350px;
    min-height: 200px;
}

.image {
    max-width: 200px;
}

.page-choice:hover {
    background-color: #CFF2F2;
}

input {
    max-width: 100px;
}
label {
    color: white;
}